In [2]:
import pandas as pd
from numpy import NaN
import numpy as np
import os

In [16]:
year='2022'
dfs = pd.read_html('https://www.sports-reference.com/cbb/seasons/men/2021-ratings.html')

In [29]:
def get_ratings(year):
    # read in df
    df = pd.read_html(f'https://www.sports-reference.com/cbb/seasons/men/{year}-ratings.html')[0].droplevel(0,axis=1)
    # rename columns
    df.columns = [col.lower().replace(' ', '_')
                            for col in df.columns]

    df = df.drop(['unnamed:_3_level_1','unnamed:_9_level_1','unnamed:_11_level_1'],axis=1)

    return df

In [32]:
 get_ratings(2020)

,rk,school,conf,w,l,pts,opp,mov,sos,osrs,dsrs,srs,ortg,drtg,nrtg
0,1,Kansas,Big 12,28,3,74.6,60.7,13.87,11.63,11.10,13.86,24.96,118.69,81.78,36.91
1,2,Gonzaga,WCC,31,2,87.4,67.8,19.58,3.13,18.79,3.91,22.70,122.52,90.21,32.31
2,3,Duke,ACC,25,6,82.5,68.0,14.55,8.00,15.97,6.58,22.55,117.58,84.69,32.89
3,4,Michigan State,Big Ten,22,9,75.9,64.7,11.16,10.76,11.83,10.08,21.92,116.94,85.16,31.78
4,5,Baylor,Big 12,26,4,71.1,60.1,11.00,9.13,6.68,13.45,20.13,113.16,82.92,30.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,349,Howard,MEAC,4,29,69.9,81.3,-11.39,-7.98,-5.46,-16.42,-21.88,89.84,118.34,-28.50
383,350,Maryland-Eastern Shore,MEAC,5,27,57.5,71.2,-13.66,-6.45,-16.75,-5.28,-22.03,78.64,108.05,-29.41
384,351,Kennesaw State,A-Sun,1,28,55.2,75.2,-19.97,-2.63,-15.58,-7.02,-22.60,79.87,111.48,-31.61
385,352,Chicago State,WAC,4,25,61.4,81.8,-20.38,-2.85,-13.05,-15.15,-28.20,82.95,121.64,-38.69
386,353,Mississippi Valley State,SWAC,3,27,68.3,89.7,-21.40,-7.68,-5.40,-23.68,-29.08,83.39,117.94,-34.55

In [21]:
dfs[0].droplevel(0,axis=1)

,Rk,School,Conf,Unnamed: 3_level_1,W,L,Pts,Opp,MOV,Unnamed: 9_level_1,SOS,Unnamed: 11_level_1,OSRS,DSRS,SRS,ORtg,DRtg,NRtg
0,1,Gonzaga,WCC,NaN,31,1,91.0,69.7,21.28,NaN,5.92,NaN,23.21,3.99,27.20,126.59,89.03,37.56
1,2,Baylor,Big 12,NaN,28,2,82.9,65.5,17.43,NaN,7.40,NaN,15.41,9.42,24.83,124.98,89.29,35.68
2,3,Illinois,Big Ten,NaN,24,7,80.5,68.6,11.90,NaN,11.34,NaN,15.08,8.17,23.25,119.29,86.45,32.83
3,4,Michigan,Big Ten,NaN,23,5,75.8,65.1,10.75,NaN,11.25,NaN,9.74,12.25,22.00,118.69,86.42,32.27
4,5,Houston,AAC,NaN,28,4,76.1,58.2,17.84,NaN,5.37,NaN,7.82,13.84,21.66,119.73,86.92,32.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,351,Dartmouth,Ivy,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,352,Harvard,Ivy,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,353,Pennsylvania,Ivy,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,354,Princeton,Ivy,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,355,Yale,Ivy,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
dfs[0]

,Rk,Conference,Schls,W,L,W-L%,SRS,SOS,AP,NCAA,FF,Regular Season Champ,Tournament Champ
0,1,Pac-12 Conference,12,222,178,0.555,9.49,7.35,1,3,0,Arizona,Arizona
1,2,Big 12 Conference,10,217,126,0.633,15.54,9.75,1,6,1,"Baylor, Kansas",Kansas
2,3,Big Ten Conference,14,271,193,0.584,11.92,8.60,1,9,0,"Illinois, Wisconsin",Iowa
3,4,Southeastern Conference,14,283,196,0.591,12.34,8.45,0,6,0,Auburn,Tennessee
4,5,Conference USA,14,250,214,0.539,-0.35,-0.62,0,1,0,"Middle Tennessee (East), North Texas (West)",UAB
5,6,Atlantic 10 Conference,14,243,208,0.539,3.46,2.30,0,2,0,Davidson,Richmond
6,7,West Coast Conference,10,183,141,0.565,5.14,3.26,0,3,0,Gonzaga,Gonzaga
7,8,American Athletic Conference,11,194,151,0.562,7.32,4.95,0,2,0,Houston,Houston
8,9,Southern Conference,10,177,148,0.545,-1.71,-1.51,0,1,0,Chattanooga,Chattanooga
9,10,Missouri Valley Conference,10,170,153,0.526,2.66,1.53,0,1,0,Northern Iowa,Loyola (IL)
10,11,Big East Conference,11,218,148,0.596,11.22,8.16,0,6,1,Providence,Villanova
11,12,Atlantic Coast Conference,15,290,224,0.564,9.04,6.78,0,5,2,Duke,Virginia Tech
12,13,Western Athletic Conference,13,221,197,0.529,-2.58,-1.70,0,1,0,"New Mexico State, Seattle, Stephen F. Austin",New Mexico State
13,14,Mid-American Conference,12,192,191,0.501,-5.01,-3.39,0,1,0,Toledo,Akron
14,15,Colonial Athletic Association,10,166,156,0.516,-2.20,-1.33,0,1,0,"Towson, UNC Wilmington",Delaware
15,16,Sun Belt Conference,12,198,169,0.540,-3.69,-2.41,0,1,0,Texas State,Georgia State
16,17,Horizon League,12,176,205,0.462,-8.22,-5.83,0,1,0,"Cleveland State, Purdue-Fort Wayne",Wright State
17,18,Ivy League,8,108,113,0.489,-4.30,-2.82,0,1,0,Princeton,Yale
18,19,Atlantic Sun Conference,12,188,192,0.495,-5.90,-3.28,0,1,0,"Liberty (East), Jacksonville State (West)",Bellarmine
19,20,Northeast Conference,10,128,169,0.431,-10.96,-7.54,0,1,0,Bryant,Bryant
20,21,Big South Conference,12,179,194,0.480,-7.32,-4.58,0,1,0,"Longwood (North), Winthrop (South)",Longwood
21,22,Big Sky Conference,11,179,181,0.497,-7.38,-5.05,0,1,0,Montana State,Montana State
22,23,Mountain West Conference,11,204,153,0.571,5.83,4.18,0,4,0,Boise State,Boise State
23,24,Metro Atlantic Athletic Conference,11,180,169,0.516,-3.28,-2.96,0,1,0,Iona,Saint Peter's
24,25,America East Conference,10,148,158,0.484,-8.15,-6.26,0,1,0,Vermont,Vermont
25,26,Ohio Valley Conference,10,154,165,0.483,-5.92,-3.92,0,1,0,Murray State,Murray State
26,27,Summit League,10,158,158,0.500,-6.69,-4.83,0,1,0,South Dakota State,South Dakota State
27,28,Big West Conference,11,155,158,0.495,-3.65,-2.45,0,1,0,Long Beach State,Cal State Fullerton
28,29,Mid-Eastern Athletic Conference,8,106,131,0.447,-12.03,-7.67,0,1,0,Norfolk State,Norfolk State
29,30,Southwest Athletic Conference,12,137,229,0.374,-12.03,-5.86,0,1,0,Alcorn State,Texas Southern
30,31,Southland Conference,8,119,141,0.458,-10.58,-5.90,0,1,0,Nicholls State,Texas A&M-Corpus Christi
31,32,Patriot League,10,146,174,0.456,-9.62,-7.19,0,1,0,Colgate,Colgate

In [ ]:
https://www.sports-reference.com/cbb/seasons/men/2022-school-stats.html

This is just the 2022 season so far - Coaches Polls

In [43]:
def get_data(year):
    '''reads in the data from the web and does some basic cleaning'''
    # read in the data from sportsref
    dfs = pd.read_html(f'https://www.sports-reference.com/cbb/seasons/{year}.html')
    
    ## Coaches poll
    # remove unessary rows/columns
    coaches_poll = dfs[1].droplevel([0,2], axis=1)
    coaches_poll = coaches_poll.drop(index=[20,21])
    
    # rename columns
    coaches_poll = coaches_poll.rename({'Unnamed: 0_level_1':'school','Unnamed: 1_level_1':'conference'},axis=1)

    # set school and conference as index
    coaches_poll = coaches_poll.set_index(['school','conference'])
    
    # convert columns to floats
    for col in coaches_poll.columns:
        coaches_poll[col] = coaches_poll[col].astype(float)

    # add mean and median
    coaches_poll['median'] = coaches_poll.median(axis=1, skipna=True)
    coaches_poll['mean'] = coaches_poll.mean(axis=1, skipna=True)

    # reset index
    coaches_poll = coaches_poll.reset_index()

    ## Conference Summary
    conf_summary = dfs[0]

    # rename columns
    conf_summary.columns = [col.lower().replace(' ','_') for col in conf_summary.columns]
    conf_summary = conf_summary.rename({'Schls':'num_schools','rk':'rank'},axis=1)
    
    return conf_summary, coaches_poll

In [44]:
get_data('2022')

(    rank                          conference  schls    w    l   w-l%    srs  \
 0      1                   Pac-12 Conference     12  222  178  0.555   9.49
 1      2                   Big 12 Conference     10  217  126  0.633  15.54
 2      3                  Big Ten Conference     14  271  193  0.584  11.92
 3      4             Southeastern Conference     14  283  196  0.591  12.34
 4      5                      Conference USA     14  250  214  0.539  -0.35
 5      6              Atlantic 10 Conference     14  243  208  0.539   3.46
 6      7               West Coast Conference     10  183  141  0.565   5.14
 7      8        American Athletic Conference     11  194  151  0.562   7.32
 8      9                 Southern Conference     10  177  148  0.545  -1.71
 9     10          Missouri Valley Conference     10  170  153  0.526   2.66
 10    11                 Big East Conference     11  218  148  0.596  11.22
 11    12           Atlantic Coast Conference     15  290  224  0.564   9.04
 12    13         Western Athletic Conference     13  221  197  0.529  -2.58
 13    14             Mid-American Conference     12  192  191  0.501  -5.01
 14    15       Colonial Athletic Association     10  166  156  0.516  -2.20
 15    16                 Sun Belt Conference     12  198  169  0.540  -3.69
 16    17                      Horizon League     12  176  205  0.462  -8.22
 17    18                          Ivy League      8  108  113  0.489  -4.30
 18    19             Atlantic Sun Conference     12  188  192  0.495  -5.90
 19    20                Northeast Conference     10  128  169  0.431 -10.96
 20    21                Big South Conference     12  179  194  0.480  -7.32
 21    22                  Big Sky Conference     11  179  181  0.497  -7.38
 22    23            Mountain West Conference     11  204  153  0.571   5.83
 23    24  Metro Atlantic Athletic Conference     11  180  169  0.516  -3.28
 24    25             America East Conference     10  148  158  0.484  -8.15
 25    26              Ohio Valley Conference     10  154  165  0.483  -5.92
 26    27                       Summit League     10  158  158  0.500  -6.69
 27    28                 Big West Conference     11  155  158  0.495  -3.65
 28    29     Mid-Eastern Athletic Conference      8  106  131  0.447 -12.03
 29    30       Southwest Athletic Conference     12  137  229  0.374 -12.03
 30    31                Southland Conference      8  119  141  0.458 -10.58
 31    32                      Patriot League     10  146  174  0.456  -9.62

      sos  ap  ncaa  ff                          regular_season_champ  \
 0   7.35   1     3   0                                       Arizona
 1   9.75   1     6   1                                Baylor, Kansas
 2   8.60   1     9   0                           Illinois, Wisconsin
 3   8.45   0     6   0                                        Auburn
 4  -0.62   0     1   0   Middle Tennessee (East), North Texas (West)
 5   2.30   0     2   0                                      Davidson
 6   3.26   0     3   0                                       Gonzaga
 7   4.95   0     2   0                                       Houston
 8  -1.51   0     1   0                                   Chattanooga
 9   1.53   0     1   0                                 Northern Iowa
 10  8.16   0     6   1                                    Providence
 11  6.78   0     5   2                                          Duke
 12 -1.70   0     1   0  New Mexico State, Seattle, Stephen F. Austin
 13 -3.39   0     1   0                                        Toledo
 14 -1.33   0     1   0                        Towson, UNC Wilmington
 15 -2.41   0     1   0                                   Texas State
 16 -5.83   0     1   0            Cleveland State, Purdue-Fort Wayne
 17 -2.82   0     1   0                                     Princeton
 18 -3.28   0     1   0     Liberty (East), Jacksonville State (West)
 19 -7.54   0     1   0                                        Bryant
 20 -4.58   0     1   0            Longwood (North), Winthrop (South)
 21 -5.05   0     1   0                                 Montana State
 22  4.18   0     4   0                                   Boise State
 23 -2.96   0     1   0                                          Iona
 24 -6.26   0     1   0                                       Vermont
 25 -3.92   0     1   0                                  Murray State
 26 -4.83   0     1   0                            South Dakota State
 27 -2.45   0     1   0                              Long Beach State
 28 -7.67   0     1   0                                 Norfolk State
 29 -5.86   0     1   0                                  Alcorn State
 30 -5.90   0     1   0                                Nicholls State
 31 -7.19   0     1   0                                       Colgate

             tournament_champ
 0                    Arizona
 1                     Kansas
 2                       Iowa
 3                  Tennessee
 4                        UAB
 5                   Richmond
 6                    Gonzaga
 7                    Houston
 8                Chattanooga
 9                Loyola (IL)
 10                 Villanova
 11             Virginia Tech
 12          New Mexico State
 13                     Akron
 14                  Delaware
 15             Georgia State
 16              Wright State
 17                      Yale
 18                Bellarmine
 19                    Bryant
 20                  Longwood
 21             Montana State
 22               Boise State
 23             Saint Peter's
 24                   Vermont
 25              Murray State
 26        South Dakota State
 27       Cal State Fullerton
 28             Norfolk State
 29            Texas Southern
 30  Texas A&M-Corpus Christi
 31                   Colgate  ,
              school conference     1     3     4     5     6     7     8  \
 0           Alabama        SEC  13.0   9.0  16.0   9.0   8.0  11.0  19.0
 1           Arizona     Pac-12   NaN  19.0  11.0   8.0   6.0   4.0   7.0
 2          Arkansas        SEC  15.0  12.0   9.0  10.0  19.0   NaN   NaN
 3            Auburn        SEC  22.0  22.0  20.0  21.0  14.0  12.0  11.0
 4               BYU        WCC   NaN  18.0  13.0  23.0   NaN   NaN   NaN
 5            Baylor     Big 12   8.0   5.0   4.0   2.0   1.0   1.0   1.0
 6       Boise State        MWC   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 7    Colorado State        MWC   NaN   NaN   NaN   NaN  23.0  21.0  20.0
 8          Davidson       A-10   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 9              Duke        ACC   9.0   6.0   1.0   3.0   2.0   2.0   2.0
 10          Florida        SEC   NaN  24.0  12.0  16.0   NaN   NaN   NaN
 11    Florida State        ACC  19.0   NaN   NaN   NaN   NaN   NaN   NaN
 12          Gonzaga        WCC   1.0   1.0   3.0   5.0   4.0   4.0   4.0
 13          Houston        AAC  14.0  11.0  14.0  13.0  13.0  14.0  14.0
 14         Illinois    Big Ten  10.0  15.0   NaN   NaN   NaN   NaN   NaN
 15             Iowa    Big Ten   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 16       Iowa State     Big 12   NaN   NaN  23.0  19.0  11.0   8.0   8.0
 17           Kansas     Big 12   3.0   3.0   7.0   7.0   7.0   7.0   6.0
 18         Kentucky        SEC  11.0  13.0  10.0  12.0  21.0  18.0  17.0
 19              LSU        SEC   NaN   NaN   NaN  24.0  20.0  16.0  16.0
 20      Loyola (IL)        MVC   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 21        Marquette   Big East   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 22         Maryland    Big Ten  21.0   NaN   NaN   NaN   NaN   NaN   NaN
 23          Memphis        AAC  16.0  10.0  19.0   NaN   NaN   NaN   NaN
 24         Michigan    Big Ten   6.0  13.0  24.0   NaN   NaN   NaN   NaN
 25   Michigan State    Big Ten   NaN   NaN  22.0  20.0  12.0  10.0  10.0
 26     Murray State        OVC   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 27       Ohio State    Big Ten  17.0   NaN   NaN  22.0  15.0  13.0  12.0
 28           Oregon     Pac-12  12.0  23.0   NaN   NaN   NaN   NaN   NaN
 29       Providence   Big East   NaN   NaN   NaN   NaN   NaN  23.0  21.0
 30           Purdue    Big Ten   7.0   4.0   2.0   1.0   4.0   3.0   3.0
 31     Saint Mary's        WCC   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 32       Seton Hall   Big East   NaN  20.0   NaN  25.0  16.0  15.0  13.0
 33  St. Bonaventure       A-10  24.0  16.0  25.0   NaN   NaN   NaN   NaN
 34        Tennessee        SEC  17.0  17.0  15.0  14.0  18.0  19.0  15.0
 35            Texas     Big 12   5.0   8.0   8.0  11.0  17.0  17.0  18.0
 36       Texas Tech     Big 12   NaN   NaN   NaN   NaN  24.0  25.0  25.0
 37             UCLA     Pac-12   2.0   2.0   5.0   4.0   3.0   6.0   5.0
 38            UConn   Big East  23.0  21.0  17.0  18.0  22.0   NaN   NaN
 39              UNC        ACC  20.0   NaN   NaN   NaN   NaN   NaN   NaN
 40              USC     Pac-12   NaN  25.0  18.0  15.0   9.0   9.0   9.0
 41        Villanova   Big East   4.0   7.0   6.0   6.0  10.0  22.0  22.0
 42         Virginia        ACC  25.0   NaN   NaN   NaN   NaN   NaN   NaN
 43    Virginia Tech        ACC   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 44      Wake Forest        ACC   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 45        Wisconsin    Big Ten   NaN   NaN  21.0  17.0   NaN  24.0  23.0
 46          Wyoming        MWC   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 47           Xavier   Big East   NaN   NaN   NaN   NaN  25.0  20.0  24.0

        9  ...    12    13    14    15    16    17    18    19  median  \
 0   20.0  ...   NaN   NaN   NaN   NaN  25.0  24.0   NaN   NaN    16.0
 1    7.0  ...   3.0   5.0   5.0   4.0   2.0   3.0   2.0   2.0     5.0
 2    NaN  ...   NaN   NaN   NaN  24.0  18.0  15.0  16.0  18.0    15.5
 3    9.0  ...   2.0   1.0   2.0   2.0   4.0   5.0   4.0   7.0     6.0
 4    NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    18.0
 5    1.0  ...   4.0   8.0  10.0   8.0  11.0   4.0   3.0   4.0     4.0
 6    NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN  23.0    23.0
 7   19.0  ...  22.0   NaN   NaN   NaN   NaN   NaN  24.0   NaN    22.0
 8    NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN     NaN
 9    2.0  ...   7.0   6.0   6.0   5.0   6.0   2.0   7.0  10.0     5.5
 10   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    16.0
 11   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    19.0
 12   4.0  ...   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0     1.0
 13  14.0  ...   9.0   9.0   7.0  15.0  15.0  14.0  18.0  15.0    14.0
 14   NaN  ...  21.0  18.0  13.0  12.0  14.0  17.0  15.0  16.0    15.5
 15   NaN  ...   NaN   NaN   NaN   NaN   NaN  25.0  23.0  19.0    23.0
 16  11.0  ...  24.0  22.0   NaN   NaN   NaN   NaN   NaN   NaN    15.0
 17   6.0  ...   5.0  10.0   8.0   6.0   5.0   7.0   6.0   3.0     6.5
 18  13.0  ...  13.0   7.0   4.0   3.0   3.0   6.0   5.0   6.0    11.5
 19  21.0  ...  18.0  25.0   NaN   NaN   NaN   NaN   NaN   NaN    18.0
 20   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    24.0
 21   NaN  ...   NaN  24.0  19.0  23.0   NaN   NaN   NaN   NaN    23.0
 22   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    21.0
 23   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    16.0
 24   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    13.0
 25  10.0  ...  10.0  13.0  17.0  19.0  24.0  25.0   NaN   NaN    13.0
 26   NaN  ...   NaN   NaN  24.0  21.0  21.0  22.0  19.0  20.0    21.0
 27  12.0  ...  16.0  16.0  16.0  18.0  19.0  23.0  25.0   NaN    16.0
 28   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    17.5
 29  17.0  ...  17.0  15.0  11.0   9.0  10.0   8.0  10.0  13.0    15.0
 30   3.0  ...   6.0   3.0   3.0   7.0   7.0   9.0   9.0   9.0     4.0
 31   NaN  ...   NaN   NaN  22.0   NaN  23.0  20.0  17.0  16.0    20.0
 32  22.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    18.0
 33   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    24.0
 34  18.0  ...  20.0  20.0  18.0  13.0  17.0  13.0  11.0   8.0    17.0
 35  16.0  ...  25.0  21.0  20.0  20.0  22.0  21.0  22.0  25.0    20.0
 36  25.0  ...  14.0  14.0   9.0  11.0   9.0  12.0  14.0  11.0    14.0
 37   5.0  ...   8.0   4.0  12.0  14.0  13.0  18.0  13.0  12.0     5.5
 38   NaN  ...  19.0  17.0  23.0  24.0  20.0  19.0  20.0  21.0    20.5
 39   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    20.0
 40   8.0  ...  15.0  19.0  21.0  17.0  16.0  16.0  21.0  22.0    16.0
 41  15.0  ...  12.0  12.0  15.0  10.0   8.0  11.0   8.0   5.0    10.5
 42   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    25.0
 43   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN  24.0    24.0
 44   NaN  ...   NaN   NaN  25.0   NaN   NaN   NaN   NaN   NaN    25.0
 45  23.0  ...  11.0  11.0  14.0  16.0  12.0  10.0  12.0  14.0    14.0
 46   NaN  ...   NaN   NaN   NaN  22.0   NaN   NaN   NaN   NaN    22.0
 47  24.0  ...  23.0  23.0   NaN   NaN   NaN   NaN   NaN   NaN    23.0

          mean
 0   16.250000
 1    5.666667
 2   15.590909
 3    8.947368
 4   18.000000
 5    4.526316
 6   23.000000
 7   21.750000
 8         NaN
 9    4.973684
 10  17.000000
 11  19.000000
 12   2.000000
 13  12.842105
 14  15.961538
 15  22.500000
 16  15.545455
 17   6.289474
 18  10.657895
 19  18.600000
 20  24.000000
 21  22.250000
 22  21.000000
 23  15.250000
 24  14.000000
 25  15.133333
 26  21.142857
 27  17.062500
 28  17.500000
 29  15.000000
 30   4.894737
 31  19.666667
 32  18.375000
 33  22.250000
 34  16.736842
 35  17.894737
 36  16.333333
 37   7.552632
 38  20.633333
 39  20.000000
 40  15.444444
 41  10.973684
 42  25.000000
 43  24.000000
 44  25.000000
 45  15.187500
 46  22.000000
 47  22.555556

 [48 rows x 22 columns])

In [17]:
dfs = pd.read_html('https://www.sports-reference.com/cbb/seasons/2022.html')

In [27]:
dfs[0]

,Rk,Conference,Schls,W,L,W-L%,SRS,SOS,AP,NCAA,FF,Regular Season Champ,Tournament Champ
0,1,Pac-12 Conference,12,222,178,0.555,9.49,7.35,1,3,0,Arizona,Arizona
1,2,Big 12 Conference,10,217,126,0.633,15.54,9.75,1,6,1,"Baylor, Kansas",Kansas
2,3,Big Ten Conference,14,271,193,0.584,11.92,8.60,1,9,0,"Illinois, Wisconsin",Iowa
3,4,Southeastern Conference,14,283,196,0.591,12.34,8.45,0,6,0,Auburn,Tennessee
4,5,Conference USA,14,250,214,0.539,-0.35,-0.62,0,1,0,"Middle Tennessee (East), North Texas (West)",UAB
5,6,Atlantic 10 Conference,14,243,208,0.539,3.46,2.30,0,2,0,Davidson,Richmond
6,7,West Coast Conference,10,183,141,0.565,5.14,3.26,0,3,0,Gonzaga,Gonzaga
7,8,American Athletic Conference,11,194,151,0.562,7.32,4.95,0,2,0,Houston,Houston
8,9,Southern Conference,10,177,148,0.545,-1.71,-1.51,0,1,0,Chattanooga,Chattanooga
9,10,Missouri Valley Conference,10,170,153,0.526,2.66,1.53,0,1,0,Northern Iowa,Loyola (IL)
10,11,Big East Conference,11,218,148,0.596,11.22,8.16,0,6,1,Providence,Villanova
11,12,Atlantic Coast Conference,15,290,224,0.564,9.04,6.78,0,5,2,Duke,Virginia Tech
12,13,Western Athletic Conference,13,221,197,0.529,-2.58,-1.70,0,1,0,"New Mexico State, Seattle, Stephen F. Austin",New Mexico State
13,14,Mid-American Conference,12,192,191,0.501,-5.01,-3.39,0,1,0,Toledo,Akron
14,15,Colonial Athletic Association,10,166,156,0.516,-2.20,-1.33,0,1,0,"Towson, UNC Wilmington",Delaware
15,16,Sun Belt Conference,12,198,169,0.540,-3.69,-2.41,0,1,0,Texas State,Georgia State
16,17,Horizon League,12,176,205,0.462,-8.22,-5.83,0,1,0,"Cleveland State, Purdue-Fort Wayne",Wright State
17,18,Ivy League,8,108,113,0.489,-4.30,-2.82,0,1,0,Princeton,Yale
18,19,Atlantic Sun Conference,12,188,192,0.495,-5.90,-3.28,0,1,0,"Liberty (East), Jacksonville State (West)",Bellarmine
19,20,Northeast Conference,10,128,169,0.431,-10.96,-7.54,0,1,0,Bryant,Bryant
20,21,Big South Conference,12,179,194,0.480,-7.32,-4.58,0,1,0,"Longwood (North), Winthrop (South)",Longwood
21,22,Big Sky Conference,11,179,181,0.497,-7.38,-5.05,0,1,0,Montana State,Montana State
22,23,Mountain West Conference,11,204,153,0.571,5.83,4.18,0,4,0,Boise State,Boise State
23,24,Metro Atlantic Athletic Conference,11,180,169,0.516,-3.28,-2.96,0,1,0,Iona,Saint Peter's
24,25,America East Conference,10,148,158,0.484,-8.15,-6.26,0,1,0,Vermont,Vermont
25,26,Ohio Valley Conference,10,154,165,0.483,-5.92,-3.92,0,1,0,Murray State,Murray State
26,27,Summit League,10,158,158,0.500,-6.69,-4.83,0,1,0,South Dakota State,South Dakota State
27,28,Big West Conference,11,155,158,0.495,-3.65,-2.45,0,1,0,Long Beach State,Cal State Fullerton
28,29,Mid-Eastern Athletic Conference,8,106,131,0.447,-12.03,-7.67,0,1,0,Norfolk State,Norfolk State
29,30,Southwest Athletic Conference,12,137,229,0.374,-12.03,-5.86,0,1,0,Alcorn State,Texas Southern
30,31,Southland Conference,8,119,141,0.458,-10.58,-5.90,0,1,0,Nicholls State,Texas A&M-Corpus Christi
31,32,Patriot League,10,146,174,0.456,-9.62,-7.19,0,1,0,Colgate,Colgate

In [26]:
test

,Unnamed: 0_level_1,Unnamed: 1_level_1,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,Alabama,SEC,13,9,16,9,8,11,19,20,25,NaN,NaN,NaN,NaN,NaN,25,24,NaN,NaN
1,Arizona,Pac-12,NaN,19,11,8,6,4,7,7,6,3,3,5,5,4,2,3,2,2
2,Arkansas,SEC,15,12,9,10,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,18,15,16,18
3,Auburn,SEC,22,22,20,21,14,12,11,9,4,2,2,1,2,2,4,5,4,7
4,BYU,WCC,NaN,18,13,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Baylor,Big 12,8,5,4,2,1,1,1,1,1,6,4,8,10,8,11,4,3,4
6,Boise State,MWC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
7,Colorado State,MWC,NaN,NaN,NaN,NaN,23,21,20,19,NaN,23,22,NaN,NaN,NaN,NaN,NaN,24,NaN
8,Davidson,A-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Duke,ACC,9,6,1,3,2,2,2,2,8,5,7,6,6,5,6,2,7,10
10,Florida,SEC,NaN,24,12,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Florida State,ACC,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Gonzaga,WCC,1,1,3,5,4,4,4,4,2,1,1,1,1,1,1,1,1,1
13,Houston,AAC,14,11,14,13,13,14,14,14,11,10,9,9,7,15,15,14,18,15
14,Illinois,Big Ten,10,15,NaN,NaN,NaN,NaN,NaN,NaN,24,17,21,18,13,12,14,17,15,16
15,Iowa,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,23,19
16,Iowa State,Big 12,NaN,NaN,23,19,11,8,8,11,16,14,24,22,NaN,NaN,NaN,NaN,NaN,NaN
17,Kansas,Big 12,3,3,7,7,7,7,6,6,10,7,5,10,8,6,5,7,6,3
18,Kentucky,SEC,11,13,10,12,21,18,17,13,17,12,13,7,4,3,3,6,5,6
19,LSU,SEC,NaN,NaN,NaN,24,20,16,16,21,12,16,18,25,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
21,School,Conf,10/27,11/22,11/29,12/6,12/13,12/20,12/27,1/3,1/10,1/17,1/24,1/31,2/7,2/14,2/21,2/28,3/7,3/13
22,Loyola (IL),MVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Marquette,Big East,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,19,23,NaN,NaN,NaN,NaN
24,Maryland,Big Ten,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Memphis,AAC,16,10,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Michigan,Big Ten,6,13,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Michigan State,Big Ten,NaN,NaN,22,20,12,10,10,10,9,13,10,13,17,19,24,25,NaN,NaN
28,Murray State,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,21,21,22,19,20
29,Ohio State,Big Ten,17,NaN,NaN,22,15,13,12,12,15,18,16,16,16,18,19,23,25,NaN
30,Oregon,Pac-12,12,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Providence,Big East,NaN,NaN,NaN,NaN,NaN,23,21,17,20,21,17,15,11,9,10,8,10,13
32,Purdue,Big Ten,7,4,2,1,4,3,3,3,5,4,6,3,3,7,7,9,9,9
33,Saint Mary's,WCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,23,20,17,16
34,Seton Hall,Big East,NaN,20,NaN,25,16,15,13,22,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,St. Bonaventure,A-10,24,16,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Tennessee,SEC,17,17,15,14,18,19,15,18,23,25,20,20,18,13,17,13,11,8
37,Texas,Big 12,5,8,8,11,17,17,18,16,22,22,25,21,20,20,22,21,22,25
38,Texas Tech,Big 12,NaN,NaN,NaN,NaN,24,25,25,25,19,19,14,14,9,11,9,12,14,11
39,UCLA,Pac-12,2,2,5,4,3,6,5,5,3,9,8,4,12,14,13,18,13,12
40,UConn,Big East,23,21,17,18,22,NaN,NaN,NaN,NaN,25,19,17,23,24,20,19,20,21
41,UNC,ACC,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,USC,Pac-12,NaN,25,18,15,9,9,9,8,7,15,15,19,21,17,16,16,21,22
43,Villanova,Big East,4,7,6,6,10,22,22,15,14,11,12,12,15,10,8,11,8,5
44,Virginia,ACC,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Virginia Tech,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
46,Wake Forest,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN,NaN,NaN,NaN,NaN
47,Wisconsin,Big Ten,NaN,NaN,21,17,NaN,24,23,23,13,8,11,11,14,16,12,10,12,14
48,Wyoming,MWC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN
49,Xavier,Big East,NaN,NaN,NaN,NaN,25,20,24,24,21,20,23,23,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
test = dfs[1].droplevel([0,2], axis=1)

In [15]:
weekly_polls = dfs[1].droplevel([0,1], axis=1)

In [16]:
weekly_polls

,School,Conf,10/27,11/22,11/29,12/6,12/13,12/20,12/27,1/3,1/10,1/17,1/24,1/31,2/7,2/14,2/21,2/28,3/7,3/13
0,Alabama,SEC,13,9,16,9,8,11,19,20,25,NaN,NaN,NaN,NaN,NaN,25,24,NaN,NaN
1,Arizona,Pac-12,NaN,19,11,8,6,4,7,7,6,3,3,5,5,4,2,3,2,2
2,Arkansas,SEC,15,12,9,10,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,18,15,16,18
3,Auburn,SEC,22,22,20,21,14,12,11,9,4,2,2,1,2,2,4,5,4,7
4,BYU,WCC,NaN,18,13,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Baylor,Big 12,8,5,4,2,1,1,1,1,1,6,4,8,10,8,11,4,3,4
6,Boise State,MWC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
7,Colorado State,MWC,NaN,NaN,NaN,NaN,23,21,20,19,NaN,23,22,NaN,NaN,NaN,NaN,NaN,24,NaN
8,Davidson,A-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Duke,ACC,9,6,1,3,2,2,2,2,8,5,7,6,6,5,6,2,7,10
10,Florida,SEC,NaN,24,12,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Florida State,ACC,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Gonzaga,WCC,1,1,3,5,4,4,4,4,2,1,1,1,1,1,1,1,1,1
13,Houston,AAC,14,11,14,13,13,14,14,14,11,10,9,9,7,15,15,14,18,15
14,Illinois,Big Ten,10,15,NaN,NaN,NaN,NaN,NaN,NaN,24,17,21,18,13,12,14,17,15,16
15,Iowa,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,23,19
16,Iowa State,Big 12,NaN,NaN,23,19,11,8,8,11,16,14,24,22,NaN,NaN,NaN,NaN,NaN,NaN
17,Kansas,Big 12,3,3,7,7,7,7,6,6,10,7,5,10,8,6,5,7,6,3
18,Kentucky,SEC,11,13,10,12,21,18,17,13,17,12,13,7,4,3,3,6,5,6
19,LSU,SEC,NaN,NaN,NaN,24,20,16,16,21,12,16,18,25,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
21,School,Conf,10/27,11/22,11/29,12/6,12/13,12/20,12/27,1/3,1/10,1/17,1/24,1/31,2/7,2/14,2/21,2/28,3/7,3/13
22,Loyola (IL),MVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Marquette,Big East,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,19,23,NaN,NaN,NaN,NaN
24,Maryland,Big Ten,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Memphis,AAC,16,10,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Michigan,Big Ten,6,13,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Michigan State,Big Ten,NaN,NaN,22,20,12,10,10,10,9,13,10,13,17,19,24,25,NaN,NaN
28,Murray State,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,21,21,22,19,20
29,Ohio State,Big Ten,17,NaN,NaN,22,15,13,12,12,15,18,16,16,16,18,19,23,25,NaN
30,Oregon,Pac-12,12,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Providence,Big East,NaN,NaN,NaN,NaN,NaN,23,21,17,20,21,17,15,11,9,10,8,10,13
32,Purdue,Big Ten,7,4,2,1,4,3,3,3,5,4,6,3,3,7,7,9,9,9
33,Saint Mary's,WCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,23,20,17,16
34,Seton Hall,Big East,NaN,20,NaN,25,16,15,13,22,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,St. Bonaventure,A-10,24,16,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Tennessee,SEC,17,17,15,14,18,19,15,18,23,25,20,20,18,13,17,13,11,8
37,Texas,Big 12,5,8,8,11,17,17,18,16,22,22,25,21,20,20,22,21,22,25
38,Texas Tech,Big 12,NaN,NaN,NaN,NaN,24,25,25,25,19,19,14,14,9,11,9,12,14,11
39,UCLA,Pac-12,2,2,5,4,3,6,5,5,3,9,8,4,12,14,13,18,13,12
40,UConn,Big East,23,21,17,18,22,NaN,NaN,NaN,NaN,25,19,17,23,24,20,19,20,21
41,UNC,ACC,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,USC,Pac-12,NaN,25,18,15,9,9,9,8,7,15,15,19,21,17,16,16,21,22
43,Villanova,Big East,4,7,6,6,10,22,22,15,14,11,12,12,15,10,8,11,8,5
44,Virginia,ACC,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Virginia Tech,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
46,Wake Forest,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN,NaN,NaN,NaN,NaN
47,Wisconsin,Big Ten,NaN,NaN,21,17,NaN,24,23,23,13,8,11,11,14,16,12,10,12,14
48,Wyoming,MWC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN
49,Xavier,Big East,NaN,NaN,NaN,NaN,25,20,24,24,21,20,23,23,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
weekly_polls

,School,Conf,10/27,11/22,11/29,12/6,12/13,12/20,12/27,1/3,1/10,1/17,1/24,1/31,2/7,2/14,2/21,2/28,3/7,3/13
0,Alabama,SEC,13,9,16,9,8,11,19,20,25,NaN,NaN,NaN,NaN,NaN,25,24,NaN,NaN
1,Arizona,Pac-12,NaN,19,11,8,6,4,7,7,6,3,3,5,5,4,2,3,2,2
2,Arkansas,SEC,15,12,9,10,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,18,15,16,18
3,Auburn,SEC,22,22,20,21,14,12,11,9,4,2,2,1,2,2,4,5,4,7
4,BYU,WCC,NaN,18,13,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Baylor,Big 12,8,5,4,2,1,1,1,1,1,6,4,8,10,8,11,4,3,4
6,Boise State,MWC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
7,Colorado State,MWC,NaN,NaN,NaN,NaN,23,21,20,19,NaN,23,22,NaN,NaN,NaN,NaN,NaN,24,NaN
8,Davidson,A-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Duke,ACC,9,6,1,3,2,2,2,2,8,5,7,6,6,5,6,2,7,10
10,Florida,SEC,NaN,24,12,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Florida State,ACC,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Gonzaga,WCC,1,1,3,5,4,4,4,4,2,1,1,1,1,1,1,1,1,1
13,Houston,AAC,14,11,14,13,13,14,14,14,11,10,9,9,7,15,15,14,18,15
14,Illinois,Big Ten,10,15,NaN,NaN,NaN,NaN,NaN,NaN,24,17,21,18,13,12,14,17,15,16
15,Iowa,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,23,19
16,Iowa State,Big 12,NaN,NaN,23,19,11,8,8,11,16,14,24,22,NaN,NaN,NaN,NaN,NaN,NaN
17,Kansas,Big 12,3,3,7,7,7,7,6,6,10,7,5,10,8,6,5,7,6,3
18,Kentucky,SEC,11,13,10,12,21,18,17,13,17,12,13,7,4,3,3,6,5,6
19,LSU,SEC,NaN,NaN,NaN,24,20,16,16,21,12,16,18,25,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
21,School,Conf,10/27,11/22,11/29,12/6,12/13,12/20,12/27,1/3,1/10,1/17,1/24,1/31,2/7,2/14,2/21,2/28,3/7,3/13
22,Loyola (IL),MVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Marquette,Big East,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,19,23,NaN,NaN,NaN,NaN
24,Maryland,Big Ten,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Memphis,AAC,16,10,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Michigan,Big Ten,6,13,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Michigan State,Big Ten,NaN,NaN,22,20,12,10,10,10,9,13,10,13,17,19,24,25,NaN,NaN
28,Murray State,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,21,21,22,19,20
29,Ohio State,Big Ten,17,NaN,NaN,22,15,13,12,12,15,18,16,16,16,18,19,23,25,NaN
30,Oregon,Pac-12,12,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Providence,Big East,NaN,NaN,NaN,NaN,NaN,23,21,17,20,21,17,15,11,9,10,8,10,13
32,Purdue,Big Ten,7,4,2,1,4,3,3,3,5,4,6,3,3,7,7,9,9,9
33,Saint Mary's,WCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,23,20,17,16
34,Seton Hall,Big East,NaN,20,NaN,25,16,15,13,22,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,St. Bonaventure,A-10,24,16,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Tennessee,SEC,17,17,15,14,18,19,15,18,23,25,20,20,18,13,17,13,11,8
37,Texas,Big 12,5,8,8,11,17,17,18,16,22,22,25,21,20,20,22,21,22,25
38,Texas Tech,Big 12,NaN,NaN,NaN,NaN,24,25,25,25,19,19,14,14,9,11,9,12,14,11
39,UCLA,Pac-12,2,2,5,4,3,6,5,5,3,9,8,4,12,14,13,18,13,12
40,UConn,Big East,23,21,17,18,22,NaN,NaN,NaN,NaN,25,19,17,23,24,20,19,20,21
41,UNC,ACC,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,USC,Pac-12,NaN,25,18,15,9,9,9,8,7,15,15,19,21,17,16,16,21,22
43,Villanova,Big East,4,7,6,6,10,22,22,15,14,11,12,12,15,10,8,11,8,5
44,Virginia,ACC,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Virginia Tech,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
46,Wake Forest,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN,NaN,NaN,NaN,NaN
47,Wisconsin,Big Ten,NaN,NaN,21,17,NaN,24,23,23,13,8,11,11,14,16,12,10,12,14
48,Wyoming,MWC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN
49,Xavier,Big East,NaN,NaN,NaN,NaN,25,20,24,24,21,20,23,23,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
weekly_polls = weekly_polls.drop(index=[20,21])

In [7]:
weekly_polls = weekly_polls.set_index(['School','Conf'])

In [8]:
for col in weekly_polls.columns:
    weekly_polls[col] = weekly_polls[col].astype(float)

In [9]:
weekly_polls['median'] = weekly_polls.median(axis=1, skipna=True)
weekly_polls['mean'] = weekly_polls.mean(axis=1, skipna=True)

In [10]:
weekly_polls

,,10/27,11/22,11/29,12/6,12/13,12/20,12/27,1/3,1/10,1/17,1/24,1/31,2/7,2/14,2/21,2/28,3/7,3/13,median,mean
School,Conf,,,,,,,,,,,,,,,,,,,,
Alabama,SEC,13.0,9.0,16.0,9.0,8.0,11.0,19.0,20.0,25.0,NaN,NaN,NaN,NaN,NaN,25.0,24.0,NaN,NaN,16.0,16.250000
Arizona,Pac-12,NaN,19.0,11.0,8.0,6.0,4.0,7.0,7.0,6.0,3.0,3.0,5.0,5.0,4.0,2.0,3.0,2.0,2.0,5.0,5.666667
Arkansas,SEC,15.0,12.0,9.0,10.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,18.0,15.0,16.0,18.0,15.5,15.590909
Auburn,SEC,22.0,22.0,20.0,21.0,14.0,12.0,11.0,9.0,4.0,2.0,2.0,1.0,2.0,2.0,4.0,5.0,4.0,7.0,6.0,8.947368
BYU,WCC,NaN,18.0,13.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,18.000000
Baylor,Big 12,8.0,5.0,4.0,2.0,1.0,1.0,1.0,1.0,1.0,6.0,4.0,8.0,10.0,8.0,11.0,4.0,3.0,4.0,4.0,4.526316
Boise State,MWC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,23.0,23.000000
Colorado State,MWC,NaN,NaN,NaN,NaN,23.0,21.0,20.0,19.0,NaN,23.0,22.0,NaN,NaN,NaN,NaN,NaN,24.0,NaN,22.0,21.750000
Davidson,A-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Duke,ACC,9.0,6.0,1.0,3.0,2.0,2.0,2.0,2.0,8.0,5.0,7.0,6.0,6.0,5.0,6.0,2.0,7.0,10.0,5.5,4.973684
Florida,SEC,NaN,24.0,12.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,17.000000
Florida State,ACC,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,19.000000
Gonzaga,WCC,1.0,1.0,3.0,5.0,4.0,4.0,4.0,4.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.000000
Houston,AAC,14.0,11.0,14.0,13.0,13.0,14.0,14.0,14.0,11.0,10.0,9.0,9.0,7.0,15.0,15.0,14.0,18.0,15.0,14.0,12.842105
Illinois,Big Ten,10.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,24.0,17.0,21.0,18.0,13.0,12.0,14.0,17.0,15.0,16.0,15.5,15.961538
Iowa,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,23.0,19.0,23.0,22.500000
Iowa State,Big 12,NaN,NaN,23.0,19.0,11.0,8.0,8.0,11.0,16.0,14.0,24.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.545455
Kansas,Big 12,3.0,3.0,7.0,7.0,7.0,7.0,6.0,6.0,10.0,7.0,5.0,10.0,8.0,6.0,5.0,7.0,6.0,3.0,6.5,6.289474
Kentucky,SEC,11.0,13.0,10.0,12.0,21.0,18.0,17.0,13.0,17.0,12.0,13.0,7.0,4.0,3.0,3.0,6.0,5.0,6.0,11.5,10.657895
LSU,SEC,NaN,NaN,NaN,24.0,20.0,16.0,16.0,21.0,12.0,16.0,18.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,18.0,18.600000
Loyola (IL),MVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,24.000000
Marquette,Big East,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,19.0,23.0,NaN,NaN,NaN,NaN,23.0,22.250000
Maryland,Big Ten,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,21.000000
Memphis,AAC,16.0,10.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,15.250000
Michigan,Big Ten,6.0,13.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,14.000000
Michigan State,Big Ten,NaN,NaN,22.0,20.0,12.0,10.0,10.0,10.0,9.0,13.0,10.0,13.0,17.0,19.0,24.0,25.0,NaN,NaN,13.0,15.133333
Murray State,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,21.0,21.0,22.0,19.0,20.0,21.0,21.142857
Ohio State,Big Ten,17.0,NaN,NaN,22.0,15.0,13.0,12.0,12.0,15.0,18.0,16.0,16.0,16.0,18.0,19.0,23.0,25.0,NaN,16.0,17.062500
Oregon,Pac-12,12.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.5,17.500000
Providence,Big East,NaN,NaN,NaN,NaN,NaN,23.0,21.0,17.0,20.0,21.0,17.0,15.0,11.0,9.0,10.0,8.0,10.0,13.0,15.0,15.000000
Purdue,Big Ten,7.0,4.0,2.0,1.0,4.0,3.0,3.0,3.0,5.0,4.0,6.0,3.0,3.0,7.0,7.0,9.0,9.0,9.0,4.0,4.894737
Saint Mary's,WCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,NaN,23.0,20.0,17.0,16.0,20.0,19.666667
Seton Hall,Big East,NaN,20.0,NaN,25.0,16.0,15.0,13.0,22.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,18.375000
St. Bonaventure,A-10,24.0,16.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,22.250000
Tennessee,SEC,17.0,17.0,15.0,14.0,18.0,19.0,15.0,18.0,23.0,25.0,20.0,20.0,18.0,13.0,17.0,13.0,11.0,8.0,17.0,16.736842
Texas,Big 12,5.0,8.0,8.0,11.0,17.0,17.0,18.0,16.0,22.0,22.0,25.0,21.0,20.0,20.0,22.0,21.0,22.0,25.0,20.0,17.894737
Texas Tech,Big 12,NaN,NaN,NaN,NaN,24.0,25.0,25.0,25.0,19.0,19.0,14.0,14.0,9.0,11.0,9.0,12.0,14.0,11.0,14.0,16.333333
UCLA,Pac-12,2.0,2.0,5.0,4.0,3.0,6.0,5.0,5.0,3.0,9.0,8.0,4.0,12.0,14.0,13.0,18.0,13.0,12.0,5.5,7.552632
UConn,Big East,23.0,21.0,17.0,18.0,22.0,NaN,NaN,NaN,NaN,25.0,19.0,17.0,23.0,24.0,20.0,19.0,20.0,21.0,20.5,20.633333
UNC,ACC,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,20.000000
USC,Pac-12,NaN,25.0,18.0,15.0,9.0,9.0,9.0,8.0,7.0,15.0,15.0,19.0,21.0,17.0,16.0,16.0,21.0,22.0,16.0,15.444444
Villanova,Big East,4.0,7.0,6.0,6.0,10.0,22.0,22.0,15.0,14.0,11.0,12.0,12.0,15.0,10.0,8.0,11.0,8.0,5.0,10.5,10.973684
Virginia,ACC,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,25.000000
Virginia Tech,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,24.0,24.000000
Wake Forest,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,25.0,25.000000
Wisconsin,Big Ten,NaN,NaN,21.0,17.0,NaN,24.0,23.0,23.0,13.0,8.0,11.0,11.0,14.0,16.0,12.0,10.0,12.0,14.0,14.0,15.187500
Wyoming,MWC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,22.0,22.000000
Xavier,Big East,NaN,NaN,NaN,NaN,25.0,20.0,24.0,24.0,21.0,20.0,23.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,23.0,22.555556

### 2022 tournament

In [ ]:
def changeDF(df, ot=False):
    cols_with_ot = ['date','time','OT','away','home','away_score','home_score','away_Q1','home_Q1','away_Q2','home_Q2','away_Q3','home_Q3','away_Q4','home_Q4','away_ot','home_ot']
    cols_no_ot = ['date','time','away','home','away_score','home_score','away_Q1','home_Q1','away_Q2','home_Q2','away_Q3','home_Q3','away_Q4','home_Q4']
    df = df.T
    df.columns = cols_with_ot if ot == True else cols_no_ot
    return df

In [ ]:
def change_to_long(df,away_col,home_col):
    return df.apply(lambda x: np.select([x['home_away']=='away',x['home_away']=='home'],[x[away_col],x[home_col]]),axis=1)

In [3]:
tournament2022 = pd.read_csv('data/2022_tournament_raw.csv')

In [4]:
ind_semi = tournament2022[tournament2022['FINAL']=='SEMI-FINALS'].index[0]
ind_quarter = tournament2022[tournament2022['FINAL']=='QUARTER-FINALS'].index[0]
ind8 = tournament2022[tournament2022['FINAL']=='1/8-FINALS'].index[0]
ind16 = tournament2022[tournament2022['FINAL']=='1/16-FINALS'].index[0]
ind32 = tournament2022[tournament2022['FINAL']=='1/32-FINALS'].index[0]
ind_playin = tournament2022[tournament2022['FINAL']=='1/64-FINALS'].index[0]
ind64 = tournament2022[tournament2022['FINAL']=='USANCAA'].index[0]

In [196]:
df1 = tournament2022.iloc[:ind_semi,:]
df2 = tournament2022.iloc[ind_semi:ind_quarter,:]
df2 = df2.rename({'FINAL':df2.head(1).FINAL.values[0]},axis=1).iloc[1:, :]
df3 = tournament2022.iloc[ind_quarter:ind8,:]
df3 = df3.rename({'FINAL':df3.head(1).FINAL.values[0]},axis=1).iloc[1:, :]
df4 = tournament2022.iloc[ind8:ind16,:]
df4 = df4.rename({'FINAL':df4.head(1).FINAL.values[0]},axis=1).iloc[1:, :]
df5 = tournament2022.iloc[ind16:ind32,:]
df5 = df5.rename({'FINAL':df5.head(1).FINAL.values[0]},axis=1).iloc[1:, :]
df6 = tournament2022.iloc[ind32:ind_playin,:]
df6 = df6.rename({'FINAL':df6.head(1).FINAL.values[0]},axis=1).iloc[1:, :]
df7 = tournament2022.iloc[ind_playin:ind64,:].rename({'FINAL':'PLAYIN'},axis=1).iloc[1:, :]
df8 = tournament2022.iloc[ind64:,:].rename({'FINAL':'1/64-FINALS'},axis=1).iloc[2:, :]
dfs = [df1,df2,df3,df4,df5,df6,df7]

In [210]:
temp = []
for df in dfs:
    offset = 0
    if df.iloc[2].values[0] == 'AOT':
        offset += 3
        temp.append(changeDF(df.iloc[:14+offset],ot=True))
    else:
        temp.append(changeDF(df.iloc[:14+offset],ot=False))
    for i in range(1, len(df) // 14):
        if df.iloc[i*14+offset+2].values[0] == 'AOT':
            offset += 3
            temp.append(changeDF(df.iloc[i*14+offset-3:(i+1)*14+offset],ot=True))

        else:
           temp.append(changeDF(df.iloc[i*14+offset:(i+1)*14+offset],ot=False))

tournament = pd.concat(temp)

In [211]:
# remove at from home team
tournament['home'] = tournament['home'].apply(lambda x:x[2:])

In [213]:
# add in win/loss
tournament['away_result'] = np.where(tournament['away_score'] > tournament['home_score'],'win','loss')
tournament['home_result'] = np.where(tournament['away_score'] > tournament['home_score'],'loss','win')

In [214]:
tournament = tournament.melt(id_vars=['date','time','away_score','home_score','away_Q1','home_Q1','away_Q2','home_Q2','away_Q3','home_Q3','away_Q4','home_Q4','OT','away_ot','home_ot','away_result','home_result'],value_vars=['away','home'],value_name='team',var_name='home_away')

In [215]:
cols_to_change = {'score':('away_score','home_score'),'score_Q1':('away_Q1','home_Q1'),'score_Q2':('away_Q2','home_Q2'),'score_Q3':('away_Q3','home_Q3'),'score_Q4':('away_Q4','home_Q4'),'score_OT':('away_ot','home_ot'),'result':('away_result','home_result')}

In [216]:
for k, v in cols_to_change.items():
    tournament[k] = change_to_long(tournament,v[0],v[1])

In [217]:
tournament = tournament.drop(['away_score','home_score','away_Q1','home_Q1','away_Q2','home_Q2','away_Q3','home_Q3','away_Q4','home_Q4','away_ot','home_ot','away_result','home_result'],axis=1)

In [208]:
#tournament.groupby('team').result.count().reset_index().merge(weekly_polls,on='team')

In [189]:
weekly_polls = weekly_polls.reset_index().rename({'School':'team'},axis=1)

In [218]:
tournament

,date,time,OT,home_away,team,score,score_Q1,score_Q2,score_Q3,score_Q4,score_OT,result
0,4-Apr,9:20 PM,NaN,away,UNC Tar Heels,69,0,40,0,29,nan,loss
1,2-Apr,8:49 PM,NaN,away,UNC Tar Heels,81,0,34,0,47,nan,win
2,2-Apr,6:09 PM,NaN,away,Villanova Wildcats,65,0,29,0,36,nan,loss
3,27-Mar,5:05 PM,NaN,away,Saint Peter's Peacocks,49,0,19,0,30,nan,loss
4,27-Mar,2:20 PM,NaN,away,Miami Hurricanes,50,0,35,0,15,nan,loss
...,...,...,...,...,...,...,...,...,...,...,...,...
129,17-Mar,12:15 PM,NaN,home,Colorado State Rams,63,0,36,0,27,nan,loss
130,16-Mar,9:10 PM,AOT,home,Rutgers Scarlet Knights,87,0,41,0,28,18,loss
131,16-Mar,6:40 PM,NaN,home,Wright State Raiders,93,0,44,0,49,nan,win
132,15-Mar,9:10 PM,NaN,home,Wyoming Cowboys,58,0,25,0,33,nan,loss
133,15-Mar,6:40 PM,NaN,home,Texas Southern Tigers,76,0,32,0,44,nan,win

In [233]:
teams_no_wins = tournament.groupby('team')['result'].count() - tournament[tournament['result']=='loss'].groupby('team')['result'].count()

In [237]:
teams_no_wins[teams_no_wins.eq(0)]

team
Akron Zips                            0.0
Alabama Crimson Tide                  0.0
Boise State Broncos                   0.0
Bryant University                     0.0
Cal State Fullerton Titans            0.0
Chattanooga Mocs                      0.0
Colgate Raiders                       0.0
Colorado State Rams                   0.0
Davidson Wildcats                     0.0
Delaware Fightin' Blue Hens           0.0
Georgia State Panthers                0.0
Iowa Hawkeyes                         0.0
Jacksonville State Gamecocks          0.0
Kentucky Wildcats                     0.0
LSU Tigers                            0.0
Longwood Lancers                      0.0
Loyola Chicago                        0.0
Marquette Golden Eagles               0.0
Montana State Bobcats                 0.0
Norfolk State Spartans                0.0
Rutgers Scarlet Knights               0.0
San Diego State Aztecs                0.0
San Francisco Dons                    0.0
Seton Hall Pirates                    0.0
South Dakota State Jackrabbits        0.0
Texas A&Mâ€“Corpus Christi Islanders    0.0
UAB Blazers                           0.0
UConn                                 0.0
USC Trojans                           0.0
Vermont Catamounts                    0.0
Virginia Tech Hokies                  0.0
Wyoming Cowboys                       0.0
Yale Bulldogs                         0.0
Name: result, dtype: float64

In [223]:
tournament.groupby('team').filter(lambda x: x['result'].count() == 1)

,date,time,OT,home_away,team,score,score_Q1,score_Q2,score_Q3,score_Q4,score_OT,result
0,4-Apr,9:20 PM,NaN,away,UNC Tar Heels,69,0,40,0,29,nan,loss
2,2-Apr,6:09 PM,NaN,away,Villanova Wildcats,65,0,29,0,36,nan,loss
3,27-Mar,5:05 PM,NaN,away,Saint Peter's Peacocks,49,0,19,0,30,nan,loss
4,27-Mar,2:20 PM,NaN,away,Miami Hurricanes,50,0,35,0,15,nan,loss
5,26-Mar,8:49 PM,NaN,away,Arkansas Razorbacks,69,0,33,0,36,nan,loss
...,...,...,...,...,...,...,...,...,...,...,...,...
124,17-Mar,3:10 PM,NaN,home,Iowa Hawkeyes,63,0,28,0,35,nan,loss
127,17-Mar,1:45 PM,NaN,home,Boise State Broncos,53,0,19,0,34,nan,loss
129,17-Mar,12:15 PM,NaN,home,Colorado State Rams,63,0,36,0,27,nan,loss
130,16-Mar,9:10 PM,AOT,home,Rutgers Scarlet Knights,87,0,41,0,28,18,loss
132,15-Mar,9:10 PM,NaN,home,Wyoming Cowboys,58,0,25,0,33,nan,loss

In [219]:
tournament[tournament['result']=='win'].groupby('team')['result'].count().sort_values(ascending=False).reset_index()

                          team  result
0              Kansas Jayhawks       6
1                UNC Tar Heels       5
2           Villanova Wildcats       4
3             Duke Blue Devils       4
4              Houston Cougars       3
5          Arkansas Razorbacks       3
6             Miami Hurricanes       3
7       Saint Peter's Peacocks       3
8                  UCLA Bruins       2
9       Texas Tech Red Raiders       2
10         Iowa State Cyclones       2
11            Gonzaga Bulldogs       2
12         Michigan Wolverines       2
13   Notre Dame Fighting Irish       2
14           Providence Friars       2
15         Purdue Boilermakers       2
16            Arizona Wildcats       2
17  Saint Mary's College Gaels       1
18       Texas Southern Tigers       1
19             Texas Longhorns       1
20        Tennessee Volunteers       1
21           Wisconsin Badgers       1
22            TCU Horned Frogs       1
23     New Mexico State Aggies       1
24            Richmond Spiders       1
25         Ohio State Buckeyes       1
26         Murray State Racers       1
27     Michigan State Spartans       1
28              Memphis Tigers       1
29            Indiana Hoosiers       1
30    Illinois Fighting Illini       1
31          Creighton Bluejays       1
32                Baylor Bears       1
33               Auburn Tigers       1
34        Wright State Raiders       1